.filters {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: inline-block;
    height: 70px;
    width: 100%;
}

.filters button {
    background: #ff5a5f;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    font-size: 18px;
    height: 48px;
    margin: 12px 30px;
    width: 20%;
}

.filters button:hover {
    opacity: .9;
}

.filters .locations,
.filters .amenities {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 25%;
    margin-left: none;
}

.filters .locations {
    border-right: 1px solid #dddddd;
    padding-right: 20px;
}

.filters .amenities {
    border-right: 0 solid #dddddd;
    margin-left: -3px;
}

/* Locations and amenities popover menu */
.filters .popover {
    background-color: #FAFAFA;
    width: 100%;
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position:absolute;
    top: 100%;
    left: -2px;
}

.filters .amenities .popover {
    top: 77%;
    left: -2px;
}

/* Locations and amenities popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover{
    display: block;	/* Display the dropdown */
}

/* Locations list style */
.filters .locations ul {
    padding: 6px 0 6px 0;
  }
  
/* Locations list element margin */
.filters .locations li {
  margin: 0 auto 6px 3em;
  list-style: none;
}

/* Amenities list element margin */
.filters .amenities li {
  margin: 12px auto 12px 30px;
  list-style: none;
}

/* Header 2 style */
.filters h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px auto 0 30px;
    padding-top: 15px;
    line-height: 0px;
  }

.filters h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px auto 0 30px;
}

.filters h3 {
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
}

.filters h4 {
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: -12px;
}